@font-face {
  font-family: "Euclid Flex";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url(./EuclidFlexRegular.woff2) format("woff2");
}

@font-face {
  font-family: "Euclid Flex";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url(./EuclidFlexMedium.woff2) format("woff2");
}

@font-face {
  font-family: "Euclid Flex";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url(./EuclidFlexSemibold.woff2) format("woff2");
}

@font-face {
  font-family: "Euclid Flex";
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url(./EuclidFlexBold.woff2) format("woff2");
}
